{{#extends 'base'}}

{{#block 'content'}}

<div class="container-fluid">
    <div>
        <h3 style="text-align: center;">Hospital System</h3>
    </div>
    <div class="row">

        <div class="col-lg-3 col-sm-12">
            <div class="results">
                <p>Total of {{listing.length}} appointments</p>

            </div>
            <a href="/appointments/add_appointment" class="btn allbtn">Create new appointment</a>
            <div class="col-lg-9 col-sm-12">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Doctor ID</th>
                            <th>Doctor Name</th>
                            <th>Patient ID</th>
                            <th>Patient</th>
                            <th>Appt Date Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listing}}
                        <tr>
                            <td>{{this.doctor_id}}</td>
                            <td>{{this.doctor_name}}</td>
                            <td> {{this.patient_id}}</td>
                            <td>{{this.patient_name}}</td>
                            <td>{{this.appointment_datetime}}</td>
                            <td>
                                <a href="/appointment/{{this._id}}" class="btn allbtn">Patient details</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {{/block}}

    {{/extends}}